@font-face {
    font-family: "Slovic Variable";
    src: url("../fonts/Slovic_Demo_VarGX.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

:root {
    /*FONTS*/
    --font-main: "Slovic Variable", serif;
    /*COLORS*/
    --mauve: #7E587E;
    --mauve-30: rgba(126, 88, 126, 0.3);
    --mauve-50: rgba(126, 88, 126, 0.5);
    --rosewood: #B46787;
    --coral-soft: #E37D81;
    --peach-bright: #FF9D72;
    --amber-soft: #FFC867;
    --lemon-light: #F9F871;
    --teal-muted: #47817D;
}