.header {
    background: #7E587E;
    border-bottom: none;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: none;
}


.header-content,
.header-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.header-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #F9F871; 
}
.back-home-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px; 
}

.divider {
    color: #F9F871;
    font-weight: 300;
    font-size: 18px; 
}

.back-home-link {
    color: #F9F871; 
    text-decoration: none;
    font-weight: 600;  
    font-size: 16px;   
    transition: color .2s ease;
}

.back-home-link:hover {
    color: #F9F871;
}

/* Для головної: логотип,Контакти,юзер */
.logo {
    font-size: 1.25rem;
    font-weight: 700;
    color: #F9F871; 
    cursor: pointer;
    transition: color 0.2s;
}

.logo:hover {
    color: #ffc; 
}


.header-spacer {
    flex: 1;
}

/* Мобільне меню (кабінет) */
.mobile-menu-btn {
    display: none;
    padding: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
}

.mobile-menu-btn:hover {
    background-color: #f3f4f6;
}

/* Блок юзера в хедері (усі сторінки з особистим кабінетом + головна) */
.user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: right;
}

.user-details {
    text-align: right;
}

.user-name {
    font-size: 0.875rem;
    font-weight: 500;
    color: #F9F871; 
}

.user-subtitle {
    font-size: 0.75rem;
    color: #F9F871;
}

.logout-btn {
    font-size: 0.75rem;
    color: #F9F871; 
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s;
}

.logout-btn:hover {
    color: #ffc; 
}

.user-avatar {
    width: 40px;
    height: 40px;
    background-image: url('../Assets/user.svg'); 
    background-size: 60%; 
    background-repeat: no-repeat;
    background-position: center;
}